$main-color: #fbe940;
$sub-color: rgb(83, 102, 233);
$orange-color: rgb(250, 143, 46);
$font-color: #fff;
$bg-color: #121212;
$gray-color: rgba(255, 255, 255, 0.3);

$base-font: 'Albert Sans', sans-serif;
