#partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  min-height: calc(100vh - 100px);
  img {
    width: 45%;
    margin: 0 auto;
  }
  h2 {
    margin: 50px 0;
    font-size: 6rem;
  }
  .partners-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 20px auto 70px;
    .partners-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      flex: 0 0 calc(33.33% - 10px);
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 767px) {
  #partners {
    h2 {
      margin: clamp(30px, 8vw, 50px) 0;
      font-size: clamp(2.4rem, 8vw, 6rem);
    }
    .partners-box {
      width: 100%;
      display: block;
      margin: 20px auto;
      .partners-item {
        margin-bottom: 30px;
        img {
          width: 70%;
        }
      }
    }
  }
}
