#videos {
  display: flex;
  height: calc(100vh - 100px);
  .tab-menu {
    width: 300px;
    padding-top: 80px;
    .tab-item {
      height: 150px;
      margin: 15px 30px;
      cursor: pointer;
      &.active {
        img {
          width: 100%;
        }
      }
      img {
        width: 90%;
      }
      .video-title {
        padding: 15px 0;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
  .video-box {
    position: relative;
    width: 100%;
    padding-top: 80px;
    iframe {
      width: 100%;
      height: 100%;
      padding: 100px;
    }
  }
}

@media (max-width: 767px) {
  #videos {
    align-items: center;
    flex-direction: column-reverse;
    .tab-menu {
      display: flex;
      justify-content: space-between;
      width: auto;
      padding-top: 30px;
    }
    .video-box {
      iframe {
        height: clamp(300px, 50vh, 450px);
        padding: 0 20px;
      }
    }
  }
}
