#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100px;
  padding: 0 100px;
  background-color: #000;
  .copyright {
    font-size: 1.2rem;
    color: #555;
  }
  .legals {
    cursor: pointer;
  }
}

.north {
  position: absolute;
  left: 35px;
  z-index: 10;
  font-size: 4rem;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
}

@media (max-width: 767px) {
  .north {
    display: none;
  }
  #footer {
    padding: 0 clamp(10px, 7vw, 100px);
    .copyright {
      margin-right: 15px;
      font-size: 1.1rem;
    }
    .legals {
      font-size: 1.1rem;
    }
  }
}
